# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~ 

# ignore eclipse directories and project files
.settings/

# let's keep the .project and .classpath files - it makes it a lot easier to import these as "existing projects" using the git import wizard in eclipse
# .project
# .classpath
