<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.bpmn2.modeler.runtime">
      <runtime
            class="org.imixs.bpmn.ImixsRuntimeExtension"
            description="Imixs-Workflow BPMN Runtime Extension"
            id="org.imixs.workflow.bpmn.runtime"
            name="Imixs-Workflow">
      </runtime>
      <model
            resourceFactory="org.imixs.bpmn.model.util.ModelResourceFactoryImpl"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            uri="http://www.imixs.org/bpmn2">
      </model>
      
    
      <customTask
            category="Imixs-Workflow"
            description="A Workflow Task describes the process performed by a human user. The task is managed by the Imixs-Workflow Engine and provides properties which are describing the status of this task inside the Workflow Engine."
            featureContainer="org.imixs.bpmn.ImixsFeatureContainerTask"
            icon="process-bubble.png"
            id="org.imixs.workflow.bpmn.ProcessEntityTask"
            name="Workflow Task"
            propertyTabs="org.imixs.bpmn.propertytab.task.workflow"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="Task">
         <property
               description="Workflow Process ID"
               label="ID"
               name="processid"
               type="EInt"
               value="0">
         </property>
      </customTask>
     
 
      
      <!-- Process Tabs -->
      <propertyTab
         class="org.imixs.bpmn.ui.task.ProcessWorkflowPropertySection"
         id="org.imixs.bpmn.propertytab.task.workflow"
         label="Workflow"
         replaceTab="org.eclipse.bpmn2.modeler.task.tab"
         runtimeId="org.imixs.workflow.bpmn.runtime"
         type="org.eclipse.bpmn2.Task">
      </propertyTab>
      
     

      
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated imixs -->
      <package
            uri="http://www.imixs.org/bpmn2"
            class="org.imixs.bpmn.model.ModelPackage"
            genModel="model/imixs.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated imixs -->
      <parser
            type="bpmn"
            class="org.imixs.bpmn.model.util.ModelResourceFactoryImpl"/>
   </extension>
</plugin>
