<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.bpmn2.modeler.runtime">
      <runtime
            class="org.imixs.bpmn.ImixsRuntimeExtension"
            description="Imixs-Workflow BPMN Runtime Extension"
            id="org.imixs.workflow.bpmn.runtime"
            name="Imixs-Workflow">
      </runtime>
      <model
            resourceFactory="org.imixs.bpmn.model.util.ModelResourceFactoryImpl"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            uri="http://www.imixs.org/bpmn2">
      </model>
      <!-- oder CustomElementFeatureContainer  MyTaskFeatureContainer 
       org.imixs.bpmn.propertytab.application org.imixs.bpmn.propertytab.mail
      -->
      <customTask
            category="Imixs-Workflow"
            description="Imixs Process Entity"
            featureContainer="org.imixs.bpmn.ImixsFeatureContainerTask"
            icon="process-bubble.png"
            id="org.imixs.workflow.bpmn.ProcessEntityTask"
            name="Imixs Task"
            propertyTabs="org.imixs.bpmn.propertytab.task.workflow org.imixs.bpmn.propertytab.task.application"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="Task">
         <property
               description="Workflow Process ID"
               label="ID"
               name="processid"
               type="EInt"
               value="0">
         </property>
      </customTask>
      
      <!-- org.imixs.bpmn.propertytab.event.mail org.imixs.bpmn.propertytab.event.workflow org.imixs.bpmn.propertytab.event.businessrule org.imixs.bpmn.propertytab.event.report org.imixs.bpmn.propertytab.event.version 
      -->
       <customTask
             category="Imixs-Workflow"
             featureContainer="org.imixs.bpmn.ImixsFeatureContainerActivity"
             id="org.imixs.workflow.bpmn.ActivityEntityEvent"
             name="Imixs Activity"
             propertyTabs="org.imixs.bpmn.propertytab.event.history"
             runtimeId="org.imixs.workflow.bpmn.runtime"
             type="IntermediateCatchEvent">
          <property
           		description="Workflow Activity ID"
                label="ID"
                name="activityid"
                type="EInt"
                value="0">
          </property>            
      </customTask>
      
      
      
      <!-- Activity Tabs -->
	  <propertyTab
            class="org.imixs.bpmn.ui.event.WorkflowPropertySection"
            id="org.imixs.bpmn.propertytab.event.workflow"
            label="Workflow"
            replaceTab="org.eclipse.bpmn2.modeler.commonEvent.tab"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="org.eclipse.bpmn2.CatchEvent">
      </propertyTab>
      
      <propertyTab
            afterTab="org.imixs.bpmn.propertytab.event.history"
            class="org.imixs.bpmn.ui.event.MailPropertySection"
            id="org.imixs.bpmn.propertytab.event.mail"
            label="Mail"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="org.eclipse.bpmn2.CatchEvent">
      </propertyTab>
      <propertyTab
            class="org.imixs.bpmn.ui.event.HistoryPropertySection"
            id="org.imixs.bpmn.propertytab.event.history"
            label="History"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="org.eclipse.bpmn2.CatchEvent">
      </propertyTab>
      <propertyTab
            class="org.imixs.bpmn.ui.event.BusinessRulePropertySection"
            id="org.imixs.bpmn.propertytab.event.businessrule"
            label="Rule"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="org.eclipse.bpmn2.CatchEvent">
      </propertyTab>
      <propertyTab
            afterTab="org.imixs.bpmn.propertytab.event.mail"
            class="org.imixs.bpmn.ui.event.ReportPropertySection"
            id="org.imixs.bpmn.propertytab.event.report"
            label="Report"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="org.eclipse.bpmn2.CatchEvent">
      </propertyTab>
      <propertyTab
            afterTab="org.imixs.bpmn.propertytab.event.report"
            class="org.imixs.bpmn.ui.event.VersionPropertySection"
            id="org.imixs.bpmn.propertytab.event.version"
            label="Version"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="org.eclipse.bpmn2.CatchEvent">
      </propertyTab>

      
      <!-- Process Tabs -->
      <propertyTab
         class="org.imixs.bpmn.ui.task.ProcessWorkflowPropertySection"
         id="org.imixs.bpmn.propertytab.task.workflow"
         label="Workflow"
         replaceTab="org.eclipse.bpmn2.modeler.task.tab"
         runtimeId="org.imixs.workflow.bpmn.runtime"
         type="org.eclipse.bpmn2.Task">
      </propertyTab>
      
      <propertyTab
            afterTab="org.imixs.bpmn.propertytab.task.workflow"
            class="org.imixs.bpmn.ui.task.ProcessApplicationPropertySection"
            id="org.imixs.bpmn.propertytab.task.application"
            label="Application"
            replaceTab="org.eclipse.bpmn2.modeler.activity.io.tab"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="org.eclipse.bpmn2.Task">
      </propertyTab>
        
	 
       
       
       
       
       <!-- WorkflowGroup Tab -->
       <propertyTab
            class="org.imixs.bpmn.ui.process.TestPropertySection"
            id="org.imixs.bpmn.propertytab.process.workflow"
            label="WorkflowGroup"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="org.eclipse.bpmn2.Definitions org.eclipse.bpmn2.Process org.eclipse.bpmn2.Collaboration">
      </propertyTab>
    
    

      
      <modelEnablement
            id="Imixs-BPMN2.modelEnablement2"
            profile="Full"
            ref="org.eclipse.bpmn2.modeler.runtime.none:Full"
            runtimeId="org.imixs.workflow.bpmn.runtime">
         <enable
               object="Property">
         </enable>
         <!--
          <enable
               object="Task" feature="id">               
         </enable>
         -->
      </modelEnablement>
      
      
      <!-- -->
     
     
     
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated imixs -->
      <package
            uri="http://www.imixs.org/bpmn2"
            class="org.imixs.bpmn.model.ModelPackage"
            genModel="model/imixs.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated imixs -->
      <parser
            type="bpmn"
            class="org.imixs.bpmn.model.util.ModelResourceFactoryImpl"/>
   </extension>
</plugin>
