<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated imixs -->
      <package
            uri="http://www.imixs.org/bpmn2"
            class="org.imixs.bpmn.model.ModelPackage"
            genModel="model/imixs.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated imixs -->
      <parser
            type="bpmn"
            class="org.imixs.bpmn.model.util.ModelResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.bpmn2.modeler.runtime">
      <runtime
            class="org.imixs.bpmn.model.ImixsRuntimeExtension"
            description="Imixs-Workflow BPMN Runtime Extension"
            id="org.imixs.workflow.bpmn.runtime"
            name="Imixs-Workflow">
      </runtime>
      <model
            resourceFactory="org.imixs.bpmn.model.util.ModelResourceFactoryImpl"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            uri="http://www.imixs.org/bpmn2">
      </model>
      <!-- oder CustomElementFeatureContainer  MyTaskFeatureContainer -->
      <customTask
            category="Imixs-Workflow"
            description="Imixs Task"
            featureContainer="org.imixs.bpmn.model.ImixsTaskFeatureContainer"
            id="org.imxis.workflow.bpmn.customTask"
            name="Imixs Task"
            propertyTabs="org.imixs.bpmn.model.propertytabid"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="Task">
         <property
               name="type"
               value="MyTask">
         </property>
         <property  name="extensionValues">
            <value>
               <property  name="taskConfig">
                  <value>
                     <property name="parameters">
                        <value>
                           <property  name="name" value="taskName">
                           </property>
                           <property name="value" value="My custom task">
                           </property>
                        </value>
                     </property>
                     <property  name="parameters">
                        <value>
                           <property name="name"  value="processing time">
                           </property>
                           <property  name="value" value="1 h">
                           </property>
                        </value>
                     </property>
                  </value>
               </property>
            </value>
         </property>
         <property
               name="name"
               value="Imixs">
         </property>
         <property
               description="Potential benefit provided by this Mitigation activity"
               name="benefit"
               type="EInt"
               value="0">
         </property>
      </customTask>
      
      
      <customTask
			description="This task attempts to minimize the impact of risk."
			featureContainer="org.imixs.bpmn.model.sample.SampleCustomTaskFeatureContainer"
			id="org.imixs.examples.dynamic.mitigation"
			name="Mitigation Task"
			category="Risk &amp; Mitigation"
			icon="mitigation.png"
			runtimeId="org.imixs.workflow.bpmn.runtime"
			type="TextAnnotation">
			<property name="name" value="Mitigation Task" type="EString"/>
			<property name="text" value="Mitigation Task" type="EString"/>
			<property name="evaluate" value="true" type="EBoolean" description="Include this activity in Risk Calculations"/>
			<property name="benefit" value="0" type="EInt" description="Potential benefit provided by this Mitigation activity"/>
		</customTask>
		
      <propertyTab
            class="default"
            features="extensionValues#TaskConfig.parameters"
            id="org.imixs.bpmn.model.propertytabid"
            indented="true"
            label="My Task"
            runtimeId="org.imixs.workflow.bpmn.runtime"
            type="org.eclipse.bpmn2.Task">
      </propertyTab>
      <modelEnablement
            id="Imixs-BPMN2.modelEnablement2"
            profile="Full"
            ref="org.eclipse.bpmn2.modeler.runtime.none:Full"
            runtimeId="org.imixs.workflow.bpmn.runtime">
         <enable
               object="TaskConfig">
         </enable>
         <enable
               object="Parameter">
         </enable>
      </modelEnablement>
   </extension>
</plugin>
